##############
# App Settings
##############
APP_NAME=bike delivery app
BASE_URL=http://localhost:3000
API_URL=http://localhost:3100

##############
# Server Settings
##############
PORT=3000

##############
# Color Settings
##############
COLOR_PRIMARY=#4C9A2A
COLOR_SECONDARY=#8b91a0