// Vuetify overrides
.v-application .v-application--wrap {
  .overline {
    color: #666;
    font-size: .6875rem !important;
    letter-spacing: .07272727em !important;
    line-height: 17.5px;
    margin-bottom: -2px;
    margin-right: 8px;
  }
}

// Navigation Drawer
.v-navigation-drawer__content {
  background-color: #F5F6FA !important;
}
