##############
# App Settings
##############
APP_NAME=Paradym
APP_EMAIL=zchowdhury@paradynamix.com
BASE_URL=http://localhost:3100
CLIENT_URL=http://localhost:3000

#################
# Server Settings
#################
PORT=3100
JWT_SECRET=SECRET_KEY

###################
# Database Settings
###################
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=paradym

###############
# SMTP Settings
###############
SMTP_USER=AKIA227L6NAZORZI6THJ
SMTP_PASSWORD=BHiIldH71AdvWkzzdrKpJtB7dCVF14jQLyMDrJ6kdEPf
SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=465