##############
# App Settings
##############
APP_NAME=bike delivery app
APP_EMAIL=krahamatullah@paradynamix.com
BASE_URL=http://localhost:3100
CLIENT_URL=http://localhost:3000

################
# Color Settings
################
COLOR_PRIMARY=#4C9A2A
COLOR_SECONDARY=#B50000

#################
# Server Settings
#################
PORT=3100
JWT_SECRET=SECRET_KEY

###################
# Database Settings
###################
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=bbapp_dev
SEED=1
LOG_SQL=0

###############
# SMTP Settings
###############
SMTP_USER=AKIA227L6NAZORZI6THJ
SMTP_PASSWORD=BHiIldH71AdvWkzzdrKpJtB7dCVF14jQLyMDrJ6kdEPf
SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=465

#################
# Upload Settings
#################
UPLOAD_ACCEPT=image/gif,.jpg,text/css,.txt

#################
# Sentry Settings
#################
SENTRY_DSN=https://b4b485cdbb6b421493eb57a4bcf42b61@o382651.ingest.sentry.io/5620152


#################
# Twilio Settings
#################
ACCOUNT_SID=ACe0b5b9e4e3af7f70aa79825edc30295e
AUTH_TOKEN=fd5a29c4afcca0c2fbafdc68d2d04ecd
TWILIO_NUMBER=+17144850047